# Dependencies
node_modules
/.pnp
.pnp.js

# Next.js
.next/
out/

# Build outputs
build/
dist/
.output/

# Vercel
.vercel

# Netlify
.netlify

# Wrangler (Cloudflare)
.wrangler

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Verifying ignore
!.env.example

# OS
.DS_Store
.DS_Store?
._*
Thumbs.db
desktop.ini

# IDEs
.vscode/
!.vscode/extensions.json
.idea/
*.swp
*.swo
.project
.classpath
.settings/

# Testing
/coverage
.nyc_output

# TypeScript
*.tsbuildinfo


